{% extends 'layouts/base.html.twig' %}

{% block title %}Edit Sites{% endblock %}

{% block main %}
    <h1>Edit Sites</h1>

    {{ include('sites/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a class="waves-effect waves-light green lighten-1 btn" href="{{ path('app_sites_index') }}">Retour</a>

    {{ include('sites/_delete_form.html.twig') }}
{% endblock %}
