{% extends 'layouts/base.html.twig' %}

{% block title %}New Sites
{% endblock %}

{% block main %}
	<h1>Create new Sites</h1>

	{{ include('sites/_form.html.twig') }}
	<div class="row">
		<a class="waves-effect waves-light green lighten-1 btn" href="{{ path('app_sites_index') }}">
			<i class="material-icons right">arrow_back</i>Retour</a>
	</div>

{% endblock %}
