{% extends 'layouts/base.html.twig' %}

{% block title %}Modifier mon Profil{% endblock %}

{% block main %}
    <h1>Modifier mon profil</h1>

    
    {{ include('participants/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    <div class="row"></div>
    <a class="col waves-effect waves-light green lighten-1 btn" href="{{ path('app_accueil') }}">Retour</a>
    <span class="col"></span>
    {{ include('participants/user/_delete_form.html.twig') }}
    <div class="row"></div>
    </div>
{% endblock %}
