{% extends 'layouts/base.html.twig' %}

{% block title %}Edit Villes{% endblock %}

{% block main %}
    <h1>Edit Villes</h1>

    {{ include('villes/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a class="waves-effect waves-light green lighten-1 btn" href="{{ path('app_villes_index') }}">Retour</a>

    {{ include('villes/_delete_form.html.twig') }}
{% endblock %}
