<form method="post" action="{{ path('app_sorties_delete', {'noSortie': sorty.noSortie}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette sortie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sorty.noSortie) }}">
    <button class="btn">Supprimer</button>
</form>
