<form class="col" method="post" action="{{ path('app_accueil', {'noSortie': sorty.noSortie}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette sortie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sorty.noSortie) }}">
    <button class="waves-effect waves-light green lighten-1 btn">Supprimer</button>
</form>
