{% extends 'layouts/base.html.twig' %} 
{% block title %}Créer une sortie{% endblock %}
{% block main %}
<div class="container">
    <h1>Créer une sortie</h1>

    {{ include("sorties/_form.html.twig") }}
</div>

{% endblock %}
