{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row">
    <button class="waves-effect waves-light green lighten-1 btn">{{ button_label|default('Enregistrer') }}<i class="material-icons right">archive</i></button>
    </div>
{{ form_end(form) }}
