{% extends 'base.html.twig' %}

{% block title %}Edit Lieux{% endblock %}

{% block body %}
    <h1>Edit Lieux</h1>

    {{ include('lieux/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="waves-effect waves-light green lighten-1 btn" href="{{ path('app_accueil') }}">Retour</a>

    {{ include('lieux/_delete_form.html.twig') }}
{% endblock %}
