{% extends 'layouts/base.html.twig' %}

{% block title %}Nouveau Lieu{% endblock %}

{% block main %}
    <h1>Créer un nouveau lieu</h1>

    {{ include('lieux/_form.html.twig') }}

    <a href="{{ path('app_accueil') }}">back to list</a>
{% endblock %}
