{% extends 'layouts/base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block main %}
    <h1>Modifier Utilisateur</h1>

    {{ form(form) }}

    <a href="{{ path('app_participants_index') }}">back to list</a>

    {{ include('participants/_delete_form.html.twig') }}
{% endblock %}
