{% extends 'layouts/base.html.twig' %}

{% block title %}Modifier mon Profil{% endblock %}

{% block main %}
    <h1>Modifier mon profil</h1>

    {{ include('participants/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_participants_index') }}">Retour</a>
    <br>
    {{ include('participants/_delete_form.html.twig') }}
{% endblock %}
